:is(button,[type=submit],[type=button],[role=button]).danger {
    --pico-background-color: var(--pico-form-element-invalid-focus-color);
    --pico-border-color: var(--pico-form-element-invalid-active-border-color);
    --pico-color: var(--pico-secondary-inverse);
    cursor: pointer;
}
